/* div {
    border: 2px solid green;
}

section {
    border: 2px solid red;
}

footer {
    border: 10px solid blueviolet;
} */

body {
    background-color: #9E0031;
    padding: 3%;
}



.meuNome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: brown;
}

#descricao {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 28%;
    position: absolute;
    left: 326px;
    right: 10px;
    text-align: justify;
    color: white;


}

#fotoPerfil {
    float: left;
    height: 280px;
    /*foto do mesmo tamanho que a div .image-container, que contém a foto e a descrição*/
    padding: 10px;
    background-color: #190E4F;
    border-radius: 49%;
}

.image-container {
    height: 300px;
    position: relative;
}

nav {
    background-color:#190E4F;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold
}

nav li a:hover {
    background-color:#9E0031;
    color: black;
}

a {
    color: white;
}

#listContainer {
    display: flex;
    position: relative;
    column-gap: 50px;
    text-align: center;

}

#softSkills li,
#habilidades li {
    list-style-type: none;
    padding: 2px;
    color: white;

}

#softSkills,
#habilidades {
    flex: 1;
}


#softSkills p,
#habilidades p {
    margin-bottom: 5px;
    font-weight: bold;
    color:whitesmoke;
}

/* #contato {
    display: flex;
    justify-content: center;
    align-items: center;
} */

footer {
    
    padding: 20px 0;
    text-align: center;
    color: white;

}

.bi-telephone {
    
    margin-right: 10px;
    margin-bottom: 2px;


}

.telefone-container {
    
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}