div {
    border: 2px solid green;
}

section {
    border: 2px solid red;
}

body {
    background-color: antiquewhite;
    padding: 3%;
}

.meuNome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: brown;
}

#descricao {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 28%;
    position: absolute;
    left: 326px;
    right: 10px;
    text-align: justify;


}

#fotoPerfil {
    float: left;
    height: 280px;
    /*foto do mesmo tamanho que a div .image-container, que contém a foto e a descrição*/
    padding: 10px;
    background-color: brown;
}

.image-container {
    height: 300px;
    position: relative;
}

nav {
    background-color: brown;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold
}

nav li a:hover {
    background-color: antiquewhite;
    color: black;
}

#listContainer {
    display: flex;
    position: relative;
    column-gap: 50px;

    text-align: center;


}

#softSkills,
#habilidades {
    list-style-type: none;

}


#softSkills p,
#habilidades p {
    margin-bottom: 5px;
    font-weight: bold;
}